.pagination {
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: black !important;
}

img {
  margin: 0 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

img:hover {
  opacity: 0.3;
}