.pagination {
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: black !important;
}

img {
  margin: 0 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

img:hover {
  opacity: 0.3;
}

#table-div {
  display: flex !important;
  flex-flow: column !important;
}

table {
  border: 2px solid black;
}

td,th {
  border: 2px solid black !important;
  padding: 0.4rem ;
  font-size: medium;
  text-align: center;
}

@media (max-width: 500px) {
  td,th {
    border: 2px solid black !important;
    padding: 0.2rem;
    font-size: small;
  }
}

th {
  background-color: lightgrey;
  text-align: center !important;
}

tr.deposit {
  color: rgb(0, 178, 0);
}

tr.withdraw {
  color: rgb(255, 0, 0);
}

tr:hover {
  background-color: rgb(240, 236, 236);
}